* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: black;
    overflow: hidden;
}

.logo span {
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    background-color: brown;
    color: #fff;
    cursor: pointer;
    border-radius: .5rem;
}

.menu li {
    display: inline-block;
    background-color: brown;
    margin: 1rem 1rem 1rem -1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.left {
    float: left;
}

.right{
    float: right;
}

.container-images {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    background-color: black;
}

.images {
    width: 100%;
}
