* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container-images {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    background-color: black;
}

.images {
    width: 100%;
}
